/* src/App.css */
body {
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-container,
.meeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth-form,
.meeting-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.auth-form h2,
.meeting-form h2 {
  margin-bottom: 20px;
}

.auth-form input,
.meeting-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-form button,
.meeting-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover,
.meeting-form button:hover {
  background-color: #444;
}

.auth-form p,
.error-message,
.success-message {
  margin-top: 20px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container button {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.app-layout{
  background: #000;
}

.buttons-container button:hover {
  background-color: #444;
}

.popup {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.popup p {
  margin: 10px 0;
}

.popup button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #444;
}
